@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

.elementosTablaHistorial{
    padding: 15px;
    text-align: center;
    border: 2px solid rgba(65,139,24,1.000);
    font-family: "Capriola", sans-serif;
}

.cabecerasTablaHistorial{
    background-color: rgba(65,139,24,1.000);
    color: white;
    padding: 15px;
    text-align: center;
    font-family: "Capriola", sans-serif;
}