.turno-reservado-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    border:2px solid #418B18;

    border-radius:12px;

    padding:1.5rem;

    background:white;

    box-shadow:0 4px 10px rgba(0,0,0,.08);

}

.estado{

    color:white;

    background:#418B18;

    padding:.6rem 1rem;

    border-radius:20px;

    font-weight:bold;

}